h1 {
    font-family: 'Open Sans', sans-serif; font-weight: 400;
}
.folders {
    display: grid;
    height: fit-content;
    width: fit-content;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-content: center;
}
.blog-folder {
    grid-column: 1/1;
    grid-row: 1/1;
}
.exercise-folder {
    grid-column: 2/2;
    grid-row: 1/1;
}
.projects-folder {
    grid-column: 3/3;
    grid-row: 1/1;
}
.playground-folder {
    grid-column: 4/4;
    grid-row: 1/1;
}
.folders {
    text-align: center;
}
.folders img {
    display: block;
    margin: auto;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
a {
    color: black;
}
footer {
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

