h1 {
    font-family: NeueMachinaUltraLight;
}
.header-info-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head {
    margin-left: 20px;
}
.info {
    margin-right: 35px;
}
.navgrid {
    display: grid;
    height: fit-content;
    width: fit-content;
    row-gap: 35px;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-content: center;
}
.blog-folder {
    grid-column: 1/1;
    grid-row: 1/1;
}
.exercise-folder {
    grid-column: 2/2;
    grid-row: 1/1;
}
.projects-folder {
    grid-column: 3/3;
    grid-row: 1/1;
}
.playground-folder {
    grid-column: 4/4;
    grid-row: 1/1;
}
.fashion-product-folder{
    grid-column: 5/5;
    grid-row: 1/1;
}
.digital-web-media-folder {
    grid-column: 1/1;
    grid-row: 2/2;
}
.architecture-planning-folder {
    grid-column: 2/2;
    grid-row: 2/2;
}
.misc-folder {
    grid-column: 3/3;
    grid-row: 2/2;
}
.navgrid p {
    text-align: center;
}
.navgrid p {
    margin: 0px;
}
.navgrid img {
    display: block;
    margin: auto;
}
p {
    font-family: NeueMachinaLight;
    font-weight: 400;
}
a {
    font-size: 22px;
    text-decoration: none;
    font-family: NeueMachinaLight;
    color: black;
}
.footer {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 100%;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family: NeueMachinaLight;
    src: url(homepage_assets/NeueMachina/neuemachina-light-webfont.woff2)
}
@font-face {
    font-family: NeueMachinaRegular;
    src: url(homepage_assets/NeueMachina/neuemachina-regular-webfont.woff2)
}
@font-face {
    font-family: NeueMachinaUltraLight;
    src: url(homepage_assets/NeueMachina/neuemachina-ultralight-webfont.woff2)
}
@media only screen and (max-width: 992px) {
    .navgrid {
        grid-template-columns: 200px 200px;
    }
    .blog-folder {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .exercise-folder {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .projects-folder {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .playground-folder {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .fashion-product-folder{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .digital-web-media-folder {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .architecture-planning-folder {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .misc-folder {
        grid-column: 2/3;
        grid-row: 4/5;
    }
}
