h1 {
    font-family: 'Open Sans', sans-serif; font-weight: 400;
}
.homepage {
    display: grid;
    height: fit-content;
    width: fit-content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: auto auto auto auto; */
    justify-content: center;
    align-content: center;
}
.h1 {
    grid-column: 1/4;
    grid-row: 1/1;
}
.blog-folder {
    grid-column: 1/1;
    grid-row: 2/2;
}
.exercise-folder {
    grid-column: 2/2;
    grid-row: 2/2;
}
.projects-folder {
    grid-column: 3/3;
    grid-row: 2/2;
}
.playground-folder {
    grid-column: 4/4;
    grid-row: 2/2;
}
.homepage {
    text-align: center;
}
.homepage img {
    display: block;
    margin: auto;
}
.homepage p {
    margin: 0px
}
.footer {
    grid-column: 1/3;
    grid-row: 3/3;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
a {
    color: black;
}
footer {
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

