.flexbox-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head {
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
}
.links {
    margin-right: 35px;
}
.bio-grid {
    display: grid;
    height: fit-content;
    width: fit-content;
    grid-template-columns: 400px 200px;
    grid-template-rows: auto;
}
.bio {
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    grid-column: 1/1;
    grid-row: 1/1;
}
a {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: black;
}